*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: bisque;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
}
.container h1 {
  color: #000;
  font-size: 50px;
  font-weight: 700;
}